################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HenriksHobbyLager
/HenriksHobbyLager/obj/Debug/net8.0
.vs/Code_Crasher_HenriksHobbyLager team/v17/.wsuo
.vs/Code_Crasher_HenriksHobbyLager team/v17/DocumentLayout.json
.vs/ProjectEvaluation/henrikshobbylager.metadata.v9.bin
.vs/ProjectEvaluation/henrikshobbylager.projects.v9.bin
.vs/VSWorkspaceState.json
.vs/Code_Crasher_HenriksHobbyLager team/CopilotIndices/
.vs/Code_Crasher_HenriksHobbyLager team/FileContentIndex/
.vs/Code_Crasher_HenriksHobbyLager team/v17/DocumentLayout.backup.json
.vs/slnx.sqlite

